body{ background-color: darkturquoise;

}


.rita{
    color: blueviolet;
    font-size: 30px;
    background-color: darkred;
    
}
#try{
    text-align: center;
    font-size: medium;

}

.thing{
    padding: 30px;
    padding-right: 0ch;
    border: darkviolet;
    background-color: floralwhite;
    border-color: darkviolet;
    font-style: italic;
}